{% extends 'base.html' %}
{% block home %}
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Hoja de Trabajo 5
                    </h1>
                      <p><strong>OBJETIVOS:</strong></p>
                      <ul>
                        <li>Utilizar herencia de templates.</li>
                        <li>Cargar un template gratuito dentro de la app presentada abajo.</li>
                        <li>Es importante que el template cumpla con el diseño requerido por ustedes.</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Hoja de Trabajo 5
                    </h1>
                      <p><strong>FUNCIONES:</strong></p>
                      <ul>
                        <li>Visualizar la informacion del programa.</li>
                        <li>Visualizar la tabla de estudiantes.</li>
                        <li>Visualizar la tabla de administradores.</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Hoja de Trabajo 5
                    </h1>
                      <p><strong>TEMPLATES DEL PROGRAMA:</strong></p>
                      <ul>
                        <li>Home.</li>
                        <li>Estudiantes.</li>
                        <li>Administradores.</li>
                        <li>Acerca De.</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>
{% endblock %}
{% block contenido %}
    <h2>
        Hoja de Trabajo 5
    </h2>
    </div>
    <p>
        Esta es la quinta tarea del curso de Desarrollo Web, en la cual se debe crear un proyecto en Django 
        que permita visualizar el uso de templates y herencia de templates, además de la creación de
        vistas y modelos para manejar la información de estudiantes y administradores.
    </p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary"><h2>Hoja de Trabajo 1.</h2></li>
        <li class="list-group-item list-group-item-primary"><h4>Actividad 1:</h4></li>
        <li class="list-group-item list-group-item-primary">Aplicar los conceptos básicos de programación web, para la solución de problemas
        reales.</li>
    </ul>
{% endblock %}
