{% extends 'base.html' %}
{% block contenido %}
    <h2>
        Hoja de Trabajo 5
    </h2>
    </div>
    <p>
        Esta es la quinta tarea del curso de Desarrollo Web, en la cual se debe crear un proyecto en Django 
        que permita visualizar el uso de templates y herencia de templates, además de la creación de
        vistas y modelos para manejar la información de estudiantes y administradores.
    </p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary"><h2>Hoja de Trabajo 1.</h2></li>
        <li class="list-group-item list-group-item-primary"><h4>Actividad 1:</h4></li>
        <li class="list-group-item list-group-item-primary">Aplicar los conceptos básicos de programación web, para la solución de problemas
        reales.</li>
    </ul>
{% endblock %}
